@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Software Development Company</h1>
    <p class="lead">Rodriguez Software es una empresa dedicada al surtimineto de sistemas de calidad</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CEO</h2>
        <p>
            Kevin Rodriguez, el princiál director de la compañia.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Historia</h2>
        <p>Rodriguez Soft, fue creada inicialmente por 3 ingenieros, sin embargo con el paso del tiempo, muchos socios decidieron emigrar a otros paises.</p>
    </div>
    <div class="col-md-4">
        <h2>Compañias que gozan de nuestros servicios</h2>
        <p>AVANTICA   -   GBSYS    -  GOLABS</p>
    </div>
</div>